* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
}

header {
    display: grid;
    grid-column: 1/4;
    place-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2;
}


#pokemonOne {
    display: grid;
    grid-column: 1/2;
    grid-row: 2;
    place-items: center;
}

#pokemonTwo {
    display: grid;
    grid-column: 2/3;
    grid-row: 2;
    place-items: center;
}

#pokemonThree {
    display: grid;
    grid-column: 3/4;
    grid-row: 2;
    place-items: center;
}


img {
    height: 30vh;
    width: auto;
}